.form{
    width: 12rem;
    height: 12rem;
    background-color:orange;
}

.form {

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;

    overflow:auto;

    animation-name: example;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-duration: 1.8s;

}

@keyframes example {
    from {
        background-color: orange;
        border-radius: 0;
    }
    to {
        background-color: red;
        border-radius: 10em;
    }
}
