div {
    position: absolute;
    width: 90vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div:before {
    position: absolute;
    background: linear-gradient(to top, #fed293, #f1be7a, #e4ab61, #d79749, #ca8431);
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div:after {
    position: absolute;
    background: linear-gradient(to top, #e8ecee, #cdd5d9, #b3bec5, #9aa8b1, #81929e);
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s;
}

div:hover:after {
    opacity: 1;
}