section{
    width: 70%;
    margin: 0 auto;
    border: 1px solid var(--alternative-color);
    border-radius: .5rem;
}

section ul{
    list-style: none;
    display:flex;
    flex-direction: row;

}

input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: var(--alternative-color);
    padding: .5rem 1rem;
    border-style: none;
    color:white;
    font-weight: bold;
    border-radius: .5rem;
}